#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  width: 50vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input{
  height: 5vh;
  margin-top: 2vh;
}

button{
  margin-top: 3vh;
}